* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
}

.container {
   background-color: #f4f4f4;
   margin: 30px 25px;
   width: 800px;
   border-radius: 10px;
}

.container .heading {
    text-align: center;
    font-size: 1.3rem ;
    line-height: 3rem;
}

.container .heading h1,h3,h4{
    font-weight: 100;
}

.container .detail p{
    padding: 5px 5px;
    border: 1px solid #d8d8d8;
    margin: 0 20px 10px 20px;
    text-align: justify;
}

.container .img {
    border: 1px solid #d8d8d8;
    text-align: center;
    margin: 0 20px 10px 20px;
    padding: 5px 0 0 0 ;
}

.container .img figure img{
    border-radius: 50%;
}

.container .img figure figcaption p {
    background-color: #ddd;
    margin: 0 5px 5px 5px;
    padding: 10px 0;
}

.container main{
    margin-top: 50px ;
    padding-left: 20px;
}

.container main > h1 {
    font-weight: 100;
    margin-bottom: 15px;
}

.container main .main ul {
    padding: 0 30px 0 30px;
    margin-bottom: 15px;
}


.container main .main + p {
    text-align: center;
}

footer {
    position: absolute;
    bottom: -650px;
    left: 365px;
}