/* .is-required::before{
    content: "*";
    color: red;
    padding-left: 2px;
} */
/* .is-required::after{
    content: "*";
    color: red;
    padding-left: 2px;
} */
body{
    background: url(https://cdn.pixabay.com/photo/2017/08/06/20/11/wedding-2595862_960_720.jpg) no-repeat center/cover;
    color: #ffffff;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
header>h1{
    font-size: 4rem;
    margin: 1rem;
}
header::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}