body{
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    background-color: orange;
    width: 100px;
    height: 100px;
    /* transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 3s; */

    /* transition: background 3s , width 3s , border-radius 3s ease-in 3s; */
    transition: all 3s ease-in 3s;
}
.box:hover{
    background: red;
    width: 300px;
    border-radius: 50%;
}