.grid-container{
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(3,auto);
}
.item{
    background-color: orange;
    padding: 3rem;
    font-size: 1.3rem;
    border: 1px solid #cccccc;
    font-weight: bold;
    text-align: center;
}
/* .item:first-child{
    grid-column: 1/4;
}
.item:last-child{
    grid-column: 2/4;
} */

.item:first-child{
    /* grid-row-start: 1;
    grid-row-end: 5; */
    grid-row: 1/5;
}