*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    /* background-color: red; */
}

.section_area_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-gap: 10px;
}



.section_grid_item {
    text-align: center;
}

.section_item_img img {
    width: 100%;
}


@media only screen and (max-width: 800px) {
    .section_area_grid{
        grid-template-columns: 1fr 1fr;
    }

    .section_grid_item{
        padding: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .section_area_grid{
        grid-template-columns: 1fr 1fr;
    }

    .section_grid_item{
        padding: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .section_area_grid{
        grid-template-columns: 1fr;
    }

    .section_grid_item{
        padding: 1rem;
    }
}
